h3{
    font-size: 30px;
}

ul li {
    
    font-size: 24px;
}
table{
    border: 1px solid black;
}
td, th {
    border: 1px solid black; 
    font-size: 24px;
   
}
img {
    width: 50px;
    margin-right: 10px; 
}
